<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461826574453-b2cthmq8hps0sdr1173ibtvc8k34vi2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461826574453-b2cthmq8hps0sdr1173ibtvc8k34vi2p</string>
	<key>API_KEY</key>
	<string>AIzaSyD1G49zWhF5TXi36LpQ1tBPfNw3dN3DW4I</string>
	<key>GCM_SENDER_ID</key>
	<string>461826574453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techno.technocode</string>
	<key>PROJECT_ID</key>
	<string>technocode-srg</string>
	<key>STORAGE_BUCKET</key>
	<string>technocode-srg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461826574453:ios:71a2e75af0dd705231503c</string>
</dict>
</plist>